    
        <div class="container">
        
         <!-- Aggregated Numbers Section -->
    <div class="row mb-3">
        <div class="col-md-6">
            <p><strong>Total Tracks Played: <%= recentTracks.length %></strong></p>
        </div>
        <div class="col-md-6">
            <p><strong>Matching Tracks: <%= matchingTracks.length %></strong></p>
        </div>
    </div>
    
            <h1>Playlist</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <img src="<%= playlist.images[0].url %>" class="card-img-top" alt="Playlist Image">
                    <div class="card-body">
                        <h5 class="card-title"><%= playlist.name %></h5>
                        <p class="card-text">Saved Count: <%= playlist.followers.total %></p>
                        <a href="<%= playlist.external_urls.spotify %>" class="btn btn-primary">Play</a>
                    </div>
                </div>
            </div>
        </div>
    
        <h1>Recent Play Stats</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Track Name</th>
                            <th scope="col">Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% recentTracks.forEach(track => { %>
                            <tr>
                                <td><%= new Date(track.played_at).toLocaleString() %></td>
                                <td><%= track.track.name %></td>
                                <td><%= track.track.artists[0].name %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    
        <h1>Matching Tracks</h1>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <% matchingTracks.forEach(match => { %>
                        <li class="list-group-item"><%= match.track.name %> - <%= match.track.artists[0].name %></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    
